player-connection-mode=Connect
player-connection-guid=775775605
player-connection-debug=0
player-connection-project-name=Product Name
player-connection-ip=192.168.0.90
player-connection-ip=10.253.131.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
